@import url(http://fonts.googleapis.com/css?family=Oxygen);
body{
	font-family: 'Oxygen', sans-serif;
	min-height: 5000px;
}

.images{
	width: 100%;
	display: flexbox;
	flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	z-index: 1;
}

.pictures {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

.image{
	padding: 10px;
	position: relative;
}

.title{
	bottom: 1px;
	margin-left: 5px;
	visibility: hidden;
	position: absolute;
	font-size: 20px;
	padding-right: 5%;
	color: #FFF;
	text-shadow: -1px -1px 0 #000, 
				 1px -1px 0 #000, 
				 -1px 1px 0 #000, 
				 1px 1px 0 #000;
}

.image img:hover + .title, .title:hover{
	visibility: visible;
}

.image img{
	max-width: 100%;
	max-height: 100%;
}

.nsfw{
	display: none;
}

.controls{
	position: fixed;
	background: #fff;
	min-width: 100px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	height: 30px;
	opacity: 0.6;
	border: 1px solid #CFCFCF;
	display: inline;
	z-index: 99;
}

.controls:hover{
	opacity: 1;
	box-shadow: 5px 5px 0px 0px #404040;
}

.controls input[type=submit]{
	border: none;
	background: #17479B;
	padding: 4px;
	color: #fff;
	font-size: 13px;
}

.controls input[type=submit]:hover{
	background: #133777;
}

.controls input[type=submit]:active{
	-webkit-box-shadow: inset 0px 0px 1px 5px #000;
	box-shadow: inset 0px 0px 0px 2px #000;
}

.hidden{
	display: none;
}

form{
	display: inline;
}
